<html>
<head>

<style>
span[id^="x"]{
width: 300px;
}

div[id^="dynamicInput_"]{
padding-top: 10px;
padding-bottom: 10px;
background-color: #F5F5DC;
width: 95%;
cursor: move;
min-height: 60 px;
height: 60 px;
border-radius:6px;
-webkit-border-radius:6px;
-moz-border-radius:5px;
-khtml-border-radius:10px;
margin-top: 10px;
margin-left: 4px;
}

#mainForm input.error {
    background: none repeat scroll 0 0 #F8DBDB;
    border-color: #E77776;
}

p { color:blue; margin:8px; }

#left {
    float: left;
    width: 20%;
    border-style:;
border-width: 1px;
border-color: #000000;
border-radius:6px;
-webkit-border-radius:6px;
-moz-border-radius:5px;
-khtml-border-radius:10px;
}

  #center {
    float: left;
    width: 20%;
  }

  #right {
    float: right;
    width: 58%;
  }
</style>


 <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
 <script src="http://code.jquery.com/jquery-migrate-1.1.0.min.js"></script>
 <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
 <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>


<script>
var lightcounter;
function light(number) {
 if (number != lightcounter) {
  $('.child' + number).css('background-color','#B0C4DE');
  $('.child' + lightcounter).css('background-color','#F5F5DC');
 }
lightcounter = number;
}


function removeInput(divName, divName2) {
  document.getElementById("sortable").removeChild(document.getElementById(divName));
  document.getElementById("right").removeChild(document.getElementById(divName2));
}

function duplicateText(fildsId) {
      $("#" + fildsId).keyup(function (){
        var value = $(this).val();
        $("#x" + fildsId).text(value);
      });
}

$(document).ready(function(){

  $('#dynamicInput0 a.show_hide0').click(generateHandler(0));

  $('#sortable').sortable({
    update: function(event, ui) {
      var newOrder = $(this).sortable('toArray').toString();
      document.getElementById('sort').value = newOrder;
    }
  });
});

var counter = 1;
var hash = {};

function generateHandler(number) {
  return function() {
    if ($('.slidingDiv' + number).css('display') == 'none') {
      for (var i = 0; i <= counter; i++) {
        if ((i != number) && ($('.slidingDiv' + i).css('display') != 'none')) {
          $('.slidingDiv' + i).slideToggle();
        }
      }
    }
    $('.slidingDiv' + number).slideToggle();
  };
}


function validateRegexp(regexp,input_id){
  var id = $("#" + input_id)
  id.keyup(function() {
    //testing regular expression
    var a = id.val();
    var filter = new RegExp(regexp);

    //if it's valid
    if(filter.test(a)){
      id.removeClass("error");
      return true;
    }
    //if it's NOT valid
    else{
      id.addClass("error");
      return false;
    }
  });
}

function addInput(divName, type) {
  var mainCanvasDiv = document.createElement('div');
  mainCanvasDiv.id =  'right' + counter;
  mainCanvasDiv.className = 'slidingDiv' + counter;
  mainCanvasDiv.style.display = 'none';

  var newdiv = document.createElement('div');
  newdiv.id = 'dynamicInput_' + counter;
  newdiv.className = 'child' + counter;

  switch (type)
  {
  <% @hash.each do |k,v| %>
    case '<%= k %>':
      newdiv.innerHTML = '<a href="#" class="show_hide' + counter + '" onclick="generateHandler('+counter+')();light('+counter+')"><span><%= k.capitalize %>: </span><span id="x'+counter+'"></span></a>\
                          <a href="#" onclick=removeInput("'+newdiv.id+'","'+mainCanvasDiv.id+'")><img src="/img/delete.png"></a><br>';

      mainCanvasDiv.innerHTML = '<input id="'+counter+'" type="text" name="<%= k %>_name_' + counter + '" required> name<br>\
                                 <% v.each do |field_name,options| %>
                                   <% case options['type']
                                      when "select" %>
                                       <select name=="<%= k %>_<%= field_name %>_' + counter + '"><% options['values'].split(', ').each do |i| %><option><%= i %></option><% end %></select> <%= field_name %><br>\
                                     <% else %>
                                       <input type="text" id="input_<%= k %>_<%= field_name %>_' + counter + '" name="<%= k %>_<%= field_name %>_' + counter + '" <%= "required" if options['mandatory']%>> <%= field_name %><br>\
                                       <% end %>
                                    <% end %>';

     var hash = {}
     <% v.each do |field_name,options| %>
      <% if options['regexp'] %>
        hash["input_<%= k %>_<%= field_name %>_" + counter] = '<%= options['regexp'] %>'
      <%end%> 
     <% end %>

     var fildsId = counter
    break;
  <% end %>
  }
  document.getElementById(divName).appendChild(newdiv);
  document.getElementById("right").appendChild(mainCanvasDiv);

  for (var k in hash) {
    if (hash.hasOwnProperty(k)) {
      validateRegexp(hash[k], k);
    }
  }

  duplicateText(fildsId)

  $('#dynamicInput_' + counter + ' show_hide' + counter).click(generateHandler(counter));
  counter++;
}

</script>

</head>
<body>
<form id="mainForm" action="/ui/download" method="POST" >
  <div id="center">
    <% @hash.each do |key,value| %>
      <input type="button" value="Add <%= key %>" onClick="addInput('sortable', '<%= key %>');"><br>
    <% end %>
  </div>

  <div id="left">
    <div id="sortable">
      <input type="hidden" name="sort" id="sort" value="">

    </div>
    <input type=submit value="Download!">
  </div>

  <div id="right">
  </div>

</form>
</body>
</html>


